[package]
name = "hearthd"
version.workspace = true
edition = "2021"
license.workspace = true

[dependencies]
serde = { workspace = true }
toml = { workspace = true }
clap = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
